<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Lugares</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" />
  <br />
  <label>Correo</label>
  <input type="email" class="form-control" />
  <br />
  <label>Mensaje</label>
  <textarea class="form-control"></textarea>
  <hr />
  <a class="btn btn-primary" href="#">Enviar</a>
  <a class="btn btn-secondary" routerLink="/lugares">Cancelar</a>
</div>
