<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Lugares</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Crear Lugar</li>
  </ol>
</nav>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)] = "lugar.nombre" />
  <br />
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)] = "lugar.distancia" />
  <br />
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)] = "lugar.cercania" />
  <br />
  <label>Descripción</label>
  <textarea class="form-control" [(ngModel)] = "lugar.descripcion"></textarea>
  <br />
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)] = "lugar.plan" />
  <h3>Datos de dirección</h3>
  <div class="card card-body bg-light">
    <form>
        <label>Buscar dirección en google maps</label>
        <input type="text" [formControl]="searchField" class="form-control" />
    </form>
    <ul class="list-group">
      <li (click)="seleccionarDireccion(result)" class="list-group-item" *ngFor="let result of results$ | async">{{result.formatted_address}}</li>
    </ul>
  </div>
  <label>Calle y Número</label>
  <input type="text" class="form-control" [(ngModel)] = "lugar.calle" />
  <label>Ciudad</label>
  <input type="text" class="form-control" [(ngModel)] = "lugar.ciudad" />
  <label>País</label>
  <input type="text" class="form-control" [(ngModel)] = "lugar.pais" />
  <hr />
  <button class="btn btn-primary" (click)="guardarLugar()">Enviar</button>
  <a class="btn btn-secondary" routerLink="/lugares">Cancelar</a>
</div>
